<section>
    <div class="about-content">
        <h2>
            About
        </h2>
        <p>
            Este es el contenido del about aqui se supone que cuente quienes chingados somos nosotos. 
        </p>
    </div>
</section>

@code {

}
