@page "/categorias"

<div style="
	background-color: var(--soft-bg);
	border-radius: 6px;
	padding: 10px;
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
">
    <ListaCategoria/>
</div>

@code {

}
