<section>
    <div class="main-contact">
        <div class="contact-content">
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Faq</a></li>
            <li><a>Contact</a></li>
        </div>

        <div class="contact-content">
            <li><a>Shipping & Returns</a></li>
            <li><a>Store Policy</a></li>
            <li><a>Metodos de pago</a></li>
        </div>

        <div class="contact-content">
            <li><a>Contact</a></li>
            <li><a>Tel: 123-456-117-229</a></li>
        </div>

        <div class="contact-content">
            <li><a>Facebook</a></li>
            <li><a>Instagram</a></li>
            <li><a>Whatsapp</a></li>
        </div>
    </div>

    <div class="action">
        <form>
            <input type="email" name="email" placeholder="Tu correo electronico" required />
            <input type="submit" name="submit" value="Enviar" required />
        </form>
    </div>
</section>