<button @onclick="@OnClick" style="@style">
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string style { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClick { get; set; }
}
